.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
.sideContainer {
height: 100%
  }

  #mainTitle{
    color: seashell;
    text-align: left;
    background-color: cadetblue;
    border-radius: 0rem;
    font-size: xx-large;
    padding: 2rem;
    padding-left: 5rem
}

.example-button-container {
    background-color: cadetblue;
    padding: .4rem;
    margin-top: 1rem
}


.navButton {
    background-color: seashell;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-color: #003865;
    border-style: double; 
    color: #003865;
    text-align: center;
    width: 75%
}

.homePageContents {
    background-color: cadetblue;
}

.displayComponents {
    padding-left: 12rem;
    padding-top: 3rem;
    padding-right: 15rem;
    background: linear-gradient(to right, hsla(200, 40%, 80%, 0.75), hsla(200,40%,80%,0.8)), url("https://4.bp.blogspot.com/--Stb8VPWjfU/VXsD3QBUnyI/AAAAAAAAIBs/_XBfEPvW6nA/s1600/organized-desk.jpg");
    background-size: auto;
    background-color: seashell;
    max-width: 80%;
    margin-left: 7rem;
    margin-top: 0rem;
    border-radius: 0rem;
    // height: 100vh
    height: 100%
}

    #newJournalEntry {
        padding-left: 2px;
        padding-top: 0rem;
        padding-bottom: 0;
        font-size: .5rem;
        background-color: lightskyblue;
        text-align: left;
        opacity: 95%;
        border-radius: 4px;
        margin-bottom: 0rem;
        margin-top: 1.5rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        // padding: 1em;
        justify-content: space-between;
        box-shadow: 0 1px 1px hsl(200,30%,50%);
        
    }
.journalEntry {
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0;
    font-size: 1.5rem;
    background-color: lightskyblue;
    text-align: left;
    opacity: 95%;
    border-radius: 4px;
    margin-bottom: .5rem;
    margin-top: .5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    // padding: 1em;
    justify-content: space-between;
    box-shadow: 0 1px 1px hsl(200,30%,50%);
    
    }
    // margin-left: 20rem;
    // margin-right: 20rem

    #topJournalEntry {
    margin-top: 4rem;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0;
    font-size: 1.5rem;
    background-color: lightskyblue;
    text-align: left;
    opacity: 95%;
    border-radius: 4px;
    margin-bottom: .5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    // padding: 1em;
    justify-content: space-between;
    box-shadow: 0 1px 1px hsl(200,30%,50%);
    }

#mainPage {
    margin-right: 0rem;
    font-size: 1.5rem;
    opacity: 100%;
    text-align: center;
    background-color: seashell


}

#entryDate {
    text-decoration: underline;
}

#entryContent {
    font-size: 1rem
}
#journalTitle {
    text-align: left
}

.todoButton {
    margin: 1rem
}

.remove-item {
    margin: .5rem
}








// .homeButton {

// }