.navButton {
    background-color: seashell;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-color: #003865;
    border-style: double; 
    color: #003865;
    text-align: center;
    width: 75%
}

.homePageContents {
    background-color: cadetblue;
}
#mainTitle{
    color: seashell;
    text-align: left;
    background-color: cadetblue;
    border-radius: 0rem;
    font-size: xx-large;
    padding: 2rem;
    padding-left: 5rem
}



.displayComponents {
    padding-left: 12rem;
    padding-top: 3rem;
    padding-right: 15rem;
    background: linear-gradient(to right, hsla(200, 40%, 80%, 0.75), hsla(200,40%,80%,0.8)), url('https://4.bp.blogspot.com/--Stb8VPWjfU/VXsD3QBUnyI/AAAAAAAAIBs/_XBfEPvW6nA/s1600/organized-desk.jpg');
    background-size: auto;
    height: 100vh


}

.updateButton {
    margin-left: 1rem
}

// .extra-container {
//     padding-top: 2rem
// }

.ritualContainer {
    padding-top: 0rem;
    margin: 5rem;
    margin-right: 5rem;
    text-align: center
}

.todo-item {
    padding-left: 1rem;
    padding-top: .3rem;
    font-size: 1.5rem;
    background-color: lightskyblue;
    text-align: center;
    opacity: 95%;
    border-radius: 4px;
    margin-bottom: .5rem;
    margin-top: .5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    // padding: 1em;
    justify-content: space-between;
    box-shadow: 0 1px 1px hsl(200,30%,50%);

}

.todo-input {
    text-align: left;
    width: -webkit-fill-available;
    margin-bottom: 0.2rem;
    padding: 0.5em 1em;
    
    // margin-left: 20rem;
    // margin-right: 20rem
}

#mainPage {
    margin-right: 3rem;
    font-size: 1.5rem;
    opacity: 100%;
    text-align: center;
    background-color: seashell

}

#todoTitle {
    text-align: left
}

.todoButton {
    margin: 1rem
}

.remove-item {
    margin: .5rem
}

#selectAllBox {
    cursor: pointer
}

// .ng-tns-c0-0 {
//     border-color: black;
//     border-style: solid
// }