
  <router-outlet></router-outlet>

  
<!-- <mat-sidenav-container class="app-sidenav-container">
  only render the side nav if an organization has been selected, otherwise permissions cannot be validated
  <mat-sidenav class="app-sidenav" fixedInViewport="true">

    <h3>News</h3>
        <li>
          <a routerLink="/news" routerLinkActive="app-sidenav-item-selected">
          </a>
        </li>
    <h3>Stocks</h3>
        <li>
          <a routerLink="/stocks" routerLinkActive="app-sidenav-item-selected">
          </a>
    <h3>Journal</h3>
        </li>
        <li>
          <a routerLink="/journal" routerLinkActive="app-sidenav-item-selected">
          </a>
        </li>
  </mat-sidenav>
  </mat-sidenav-container>
    <footer>
      <span style="color: white; padding-left: 3px;">MyDO</span>
    </footer>     -->
    
