.signInCard {
    background-color: seashell;
    text-align: left;
    border-color: #003865;
    border-style: solid
}

#mainTitle {
    color: #003865;
    padding-bottom: 16px
}

#loginContent {
    color: #003865
}
