<mat-card>
  <mat-card-header>
    <mat-card-title style="margin-left: -16px;">
      <h2 i18n="@@login_password_reset_sent">Password Reset Sent</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p i18n="@@login_password_email_sent_successfully">Your password reset email has been sent successfully. Please check your email for the next steps.</p>
  </mat-card-content>
  <mat-card-actions style="padding-left:15px">
    <button mat-raised-button color="primary" routerLink="/login" i18n="@@login_return_to_login">Return to
      Login
    </button>
  </mat-card-actions>
</mat-card>
