<div *ngIf="!(isLoading); else loading_templ">
  <mat-card>
    <form [formGroup]="resetForm" novalidate>
      <mat-card-header>
        <mat-card-title style="margin-left: -16px;">
          <h2 i18n="@@shared_reset_password">Reset Password</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="resetFailed">
          <mat-error i18n="@@shared_err_invalid_username_password">Invalid username / password. Please try again.</mat-error>
          <br>
        </div>
        <p i18n="@@shared_enter_new_password_below">Please enter your new password below</p>
        <mat-form-field>
          <input matInput placeholder="Password" i18n-placeholder="@@shared_password" type="password" formControlName="password" required="true">
          <mat-error *ngIf="resetForm.get('password').invalid" i18n="@@shared_err_password_is_required">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Re-enter Password" i18n-placeholder="@@shared_reenter_password" type="password" formControlName="confirm" required="true">
          <mat-error *ngIf="resetForm.get('confirm').hasError('required')">
            <ng-container i18n="@@shared_err_reenter_password">Please re-enter the password</ng-container>
          </mat-error>
          <mat-error *ngIf="resetForm.get('confirm').hasError('mismatchedPasswords')">
            <ng-container i18n="@@shared_err_password_no_match">Passwords do not match</ng-container>
          </mat-error>
        </mat-form-field>
        <br>
      </mat-card-content>
      <br>
      <br>
      <div class="button-row-right">
        <button style="float: right;" mat-raised-button color="primary" [disabled]="resetForm.invalid" (click)="resetPassword()"
                i18n="@@shared_reset_password">Reset Password
        </button>
      </div>
    </form>
  </mat-card>
</div>

<ng-template #loading_templ>
  <div class="flex-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
