.welcomeCard {
    text-align: left;
}

.welcomeBanner {
    background-color: #003865;
    color: seashell;
    text-align: center;
    // padding-left: 10.7rem
}

#signInCard {
    background-color: seashell;
    border-color: #003865;
    border-style: solid;
    border-radius: 0px
}
