<div>
    <mat-toolbar class='welcomeBanner'>Welcome to MyDO</mat-toolbar>
    <mat-card id='signInCard'>
        <mat-card-content class='welcomeCard'>
            <section>
                <h2>Existing User? Sign In</h2>
                <button mat-raised-button color="primary" routerLink="/login">Sign In</button>
            </section>
            <section>
                <h2>New User?</h2>
                <a mat-raised-button color="primary" routerLink="/register">Create New User</a>
            </section>
        </mat-card-content>
    </mat-card>
</div>
