.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    background-color: dimgray;
    padding: .4rem;
    margin-top: 1rem
  }

  #mainTitle{
    color: whitesmoke;
    text-align: left;
    background-color: dimgray;
    border-radius: 0rem;
    font-size: xx-large;
    padding: 2rem;
    padding-left: 5rem
}

.birthdayInfo {
    background-color: wheat;
    max-width: 30%;
    border-radius: 30px;
    margin-left: 3rem
}